@use "../variables/variables" as *;
@use "../variables/mixins" as *;
@use "../variables/fonts" as *;

.mainMemes {
  margin-top: 60px;
}

.containerMemes {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  justify-content: space-between;
  margin: $margin-container-memes;
  img {
    width: 400px;
    height: 100%;
    margin: 2%;
    border-radius: $border-radius-base;
  }
}

#perroCortar {
  height: 500px;
}
#nigaCortar {
  height: 400px;
}
